h1 {
	color: teal!important;
    text-align: center;
    font-family: liberatic mono!important;
    font-size: 60px !important;
    font-weight: bold !important;
    padding: 50px 60px;

    
}
p{
	font-family: Courier New; 
	font-size: 55px;
	text-align: center;

}


img{
	display: block;
	width: auto;
	height: 100%;
}
.dropdown-item{
	font-family:liberatic monospace; 
	font-size: 17px;
}
h2{
	font-size: 34px!important;
   font-family: Times New Roman;
    padding: 20px;

}
.footer{
	font-family: times new roman;
	padding: 10px !important;
	color: rgb(214, 58, 136); 
	
}
/*#home-button {
	font-family: liberatic mono;
	color: teal;
}*/

/*#Photography{
	text-align: center;
	padding: 16px;
}*/